# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/server/node_modules
/client/.pnp
/client/.pnp.js

# testing
/server/coverage
/client/coverage

# production
/server/dist
/client/dist

# misc
/*/.DS_Store
/*/.env*